.ImageDiv {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url("../../public/images/bgimg.webp");
    background-position: center;
    background-size: cover;
    
}

.ImageDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.ImageText {
    position: absolute;
    bottom: 15%;
    left: 14%;
    color: #fff;

}

.ImageHeading {
    font-size: 2.25rem;
    font-weight: 700;
}

.ImageSubheading {
    font-weight: 400;
    font-size: 1.125rem;
}
.split{
    display: flex;
    margin-top: 3%;
    gap: 10%;
}
.leftCol{
    width: 65%;
}
.rightCol{
    width: 30%;
}
.locationInput{
    border: none;
    outline: none;
    border-bottom: 1px solid #B8B8B8;
    padding: 3% 2%;
    width: 100%;
}
.mobilePost{
    display: none;
}

@media (max-width: 768px) {
    .leftCol{
        width: 100%;
    }
    .rightCol{
        display: none;
    }
    .ImageText{
        left: 5%;
        bottom: 10%;
    }
    .ImageHeading{
        font-size: 1.8rem;
    }
    .ImageSubheading{
        font-size: 1rem;
    }
    .mobilePost{
        display: block;
    }
}